.header {
  display: flex;
  width: 100%;
}
.logout {
  text-align: right;
  padding-top: 30px;
  padding-right: 30px;
}
.col-6 {
  width: 50%;
}
td {
  border-left: 1px solid black;
  padding: 0px 50px;
}
